body {
    margin: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: #020202;
    opacity: 0.9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    display: flex;
    /* padding-right: 10px; */
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    /* border-bottom: 1px, solid, seashell; */
    border-bottom: 1px solid seashell;
}

header .logo {
    height: 50px; /* Adjust the height as needed */
    padding-left: 10px;
}

header nav {
    margin-left: auto; 
}

header nav ul {
    padding: 0;
    margin: 10px 0 0;
    
}

header nav ul li {
    display: inline;
    margin: 0 10px;
    
}

header nav ul li a {
    color: seashell;
    text-decoration: underline;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding-top: 60px; /* Adjust based on the height of the header */
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

